.error_msg{
	font-size: 15px;
	margin-bottom: 5px;
	color: gold;
	display: inline-block;
}

.input_wrap{
	margin-bottom: 20px;
	position: relative;
}

.input_wrap label{
	display: block;
	margin-bottom: 5px;
}

.input_wrap input{
	padding: 15px;
	width: 100%;
	border: 1px solid transparent;
	font-size: 16px;
	border-radius: 3px;
	background: #768dcf;
}




.input_wrap .input:focus{
	border-color: black;
}

.submitBtn{
  width: 100%;
  margin-top: 30px;
  justify-content: flex-end;
  display: flex;
}

.submitBtn input{
  width: auto;
  padding: 10px;
  font-size: 16pt;
  border: 0px;
	margin-right: 15px;
	border-radius: 3px;
}

.removeBtn {
	background: darkred;
}

.editBtn {
	background: #1dbf73;
}

.disableBtn {
	background: #302B27 !important;
}

.enableBtn {
	background: gold;
}

.todosBtn {
	background: #1B264F;
}
