.content li {
  background: #302B27;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.content ul button {
  background-color: #302B27;
  border-color: grey;
  border-width: 1px;
  padding: 3px;
}

.content span {
  display: inline-block;
  text-align: center;
  padding: 5px;
}

.content .off {
  background-color: darkred;
  border-color: gold;
}

.createAccountForm div{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.createAccountForm button{
  background: #1dbf73;
  border:0px;
  padding: 10px 5px;
  border-radius: 3px;
  font-size: 16px;
}
